.container {
    height: 100px;
    padding: 0px 4rem;
    display: flex;
    position: sticky;
    top: 0;
    background: var(--background-color);
    z-index: 999;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.item {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item:nth-child(2) {
    flex: 3;
    text-align: center;
}

.item:last-child {
    justify-content: center;
}

.listItem {
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.listItem:hover {
    color: var(--tertiary-color);
}

.icons {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.search .icons{
    display: flex;
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--cart-ping);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
}

.menuIcon {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    display: none;
}

.close {
    display: none;
}


@media (max-width: 420px) {
    .item:nth-child(2) {
        display: none;
    }

    .dropdownMenu .list {
        display: flex;
        flex-direction: column;
        
    }

    .dropdownMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px; 
        left: 0;
        width: 100%;
        background: var(--background-color);
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
        display: none; 
    }

      .showDropdown {
        display: flex;
      }
    
      .menuIcon {
        width: 50px;
        height: 50px;
        display: flex;
        position: absolute;
        top: 1.5rem;
        /* right: 0.5rem; */
        cursor: pointer;
      }
    
      .showMenu {
        display: none;
      }
}

  
  
  
  





