html,
body {
  line-height: 1.5;
  color: var(--primary-color);
  background: var(--background-color);
}

:root {
  --primary-color: #2c2c2c;
  --background-color: #fff;
  --secondary-color: #fffbed;
  --tertiary-color: #ffaf05;
  --cart-ping: #f14741;
  --facebook: #3a5a99;
  --pinterest: #d13228;
  --twitter: #22a2e2;
  --instagram: #e85738;
  --attention: #f70308;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 1rem;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e85738;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
}

.btn {
  width: max-content;
  padding: 10px;
  font-size: 14px;
  border-radius: 25px;
  color: var(--background-color);
  background-color: var(--tertiary-color);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}
